################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NETATAK/FileContentIndex/127e906b-fb90-4f03-b606-73ef110e1aa4.vsidx
/.vs/NETATAK/FileContentIndex
